<!DOCTYPE html>
<html ng-app="ProductsApp">
	<head>
		<link href="http://fonts.googleapis.com/css?family=Metrophobic&subset=latin" rel="stylesheet" type="text/css">
		<link rel="stylesheet/less" type="text/less" href="main.less">

		<script type="text/javascript" src="less-1.3.1.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>

		<script type="text/javascript" src="products.js"></script>
		<script type="text/javascript" src="regexp_filter.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>

	<body>
		<div class="content" ng-controller="ProductListController">
			<h1>Products</h1>

			<input ng-model="query" type="text" autofocus placeholder="Filter"/>

			<ul>
				<li class="product" ng-repeat="product in products | regexp: 'name': query">
					{{product.name}}
				</li>
			</ul>
		</div>
	</body>
</html>
